<!DOCTYPE HTML>
<html>
	<head>
		<title>Calories calc</title>
		<link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href="/css/calc.css" rel="stylesheet" media="screen">
	</head>
	<body>
		<select name="item">
			<option>Weight in stuff</option>
			<option>Calories in stuff</option>
			<option>Calories in 100g</option>
		</select>

		<input type="number" name="calories-in-stuff">
		<input type="number" name="weight-in-stuff">

		<span name="calories-in-portion">
			
		</span>

		<script src="http://code.jquery.com/jquery-latest.js"></script>
		<script src="/js/bootstrap.min.js"></script>
	</body>
</html>
