<!DOCTYPE HTML>
<html>
	<head>
		<title>Login</title>
		<link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href="/css/login.css" rel="stylesheet" media="screen">
	</head>
	<body>
		<div class="container">
			<form class="form-signin" method="POST">
				<h2 class="form-signin-heading">Sign in</h2>
				<input type="text" id="username" name="username" placeholder="Login" class="input-block-level" value="{{ username }}">
				<input type="password" class="input-block-level" placeholder="Password" name="password">

				{% if error %}
				<div class="alert alert-error">
					<a href="#" class="close" data-dismiss="alert">&times;</a>
					{{ error }}
				</div>
				{% endif %}

				<button class="btn btn-large btn-primary" type="submit">Sign in</button>
			</form>
		</div>
		<script src="http://code.jquery.com/jquery-latest.js"></script>
		<script src="/js/bootstrap.min.js"></script>
	</body>
</html>
